body {
    background-color: #3AAFA9;
    /*background-color: #D4FECC;*/
}

h1 {
    color: #feffff;
    text-align: center;
}

.headingBanner {
    width: 100%;
    background-color: #2B7A78;
}

.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    width: 100%;
    margin: 0;
    max-width: 616px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #17252A;
    font-weight: bold;

    margin-bottom: 8px;
    font-size: 20px;
    text-align: left;
    float: left;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
}

button {
    font-size: 16px;
    font-weight: bold;

    width: 30%;
    margin: auto;
    /* text-align: center; */
    padding: 10px;
    background-color: #17252A;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.table_parameter_values {
    margin: auto;
    /*padding: 100px;*/
}

li {
    margin: auto;
    font-size: 20px;
}

.span_param_name {
    font-weight: bold;
}

table {
    float: left;
    margin: 0px;
    padding: 15px;
}

.table_main_heading {
    text-align: center;
}

th, td {
    border: 1px solid black;
}

.parameter_names {
    text-align: left;
}

.parameter_values {
    text-align: center;
}

.plots {
    max-width: calc(100% - 616px);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

div[id^="id_chart"] {
    width: 500px;
    height: 500px;
}

@media (max-width: 1100px){
    .flex_container {
        flex-direction: column;
    }
    .container {
        align-items: center;
    }
    .plots {
        flex-direction: column;
        max-width: 100%;
    }
}
