:root {
    --primary-background-color: #DEF2F1;
    --secondary-background-color: #2B7A78;
    --light-color: #FFDEAD;
    --font-color: white;
    --font-size-md: 2rem;
    --font-size-lsm: 1.7rem;
    --font-size-sm: 1.6rem;
    --gap: 2rem
}

/*Resuable classes*/

.container {
    align-items: normal;
}

/* Base Styles */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
}

body {
    font-size: var(--font-size-sm);
    background-color: var(--primary-background-color);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: mintcream;
}

ul {
    list-style: none;
}

li {
    padding-left: 2rem;
    margin: auto;
    font-size: var(--font-size-sm);
}


section {
    padding: 2rem;
}

p {
    font-size: var(--font-size-sm);
    font-family: serif;
    line-height: 2;
    white-space: pre;
    padding: 0;
}

table {
    /*float: left;*/
    margin: 0;
    padding: 15px;
}

th, td {
    border: 1px solid black;
}

button {
    font-size: var(--font-size-sm);
    /*font-weight: bold;*/

    /*width: 30%;*/
    margin: auto;
    /* text-align: center; */
    padding: 2rem;
    background-color: #17252A;
    color: var(--font-color);
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}

h3 {
    font-size: var(--font-size-lsm);
}
