:root {
    --primary-background-color: #DEF2F1;
    --secondary-background-color: #2B7A78;
    --light-color: #FFDEAD;
    --font-color: white;
    --font-size-md: 2rem;
    --font-size-lsm: 1.7rem;
    --font-size-sm: 1.6rem;
    --gap: 2rem
}

/*Resuable classes*/

.container {
    align-items: normal;
}

/* Base Styles */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
}

body {
    font-size: var(--font-size-sm);
    background-color: var(--primary-background-color);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: mintcream;
}

ul {
    list-style: none;
}

li {
    padding-left: 2rem;
    margin: auto;
    font-size: var(--font-size-sm);
}


section {
    padding: 2rem;
}

p {
    font-size: var(--font-size-sm);
    font-family: serif;
    line-height: 2;
    white-space: pre;
    padding: 0;
}

table {
    /*float: left;*/
    margin: 0;
    padding: 15px;
}

th {
    border: 1px solid black;
}

button {
    font-size: var(--font-size-sm);
    /*font-weight: bold;*/

    /*width: 30%;*/
    margin-left: 15px;
    /* text-align: center; */
    padding: 2rem;
    background-color: #17252A;
    color: var(--font-color);
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}

h3 {
    font-size: var(--font-size-lsm);
}

.parameter_names {
    text-align: left;
}

select, input {
    border: 0 !important;
    width: 150px;
}

.input_error_warning {
    color: red;
}

.sim_parent {
    display: flex;
    flex-direction: row;
}

.plots {
    max-width: calc(100% - 616px);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2.5rem;
}

@media (max-width: 1100px){
    .sim_parent {
        flex-direction: column;
        align-items: center;
    }
    .plots {
        flex-direction: column;
        max-width: 100%;
    }
}