.nav-sims {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

.nav-sims-options{
  width: 370px;
  float: left;
  padding: 20px;
  min-height: 500px;

}
.section-description{
  width: calc(100% - 370px);
  padding-left: 24px;
  float: right;
}

img{
  width: 100%;
}